\tcc_algoritmo_ia\venv_algoritmo
\tcc_algoritmo_ia\bases_csv
\tcc_algoritmo_ia\modelos
\tcc_algoritmo_ia\novas_empresas_csv
\tcc_algoritmo_ia\outros
\tcc_algoritmo_ia\MyKnnClassifier.py
\tcc_algoritmo_ia\__pycache__
\tcc_algoritmo_ia\deu_certo.py
\tcc_algoritmo_ia\models_to_json.py

\tcc_service\venv_tcc
\tcc_service\outro_test
\tcc_service\test
\tcc_service\setup
\tcc_service\.streamlit
\tcc_service\json_files
\tcc_service\tcc
\tcc_service\true_conn_string

\tcc_front\venv_front
\tcc_front\virtual
\tcc_front\__pycache__
